Source: lightbase
Section: devel
Priority: optional
Maintainer: Aarav <aarav@example.com>
Build-Depends: debhelper (>= 10), make, cmake, gcc, python3
Standards-Version: 4.1.4

Package: lightbase
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3, python3-webview, python3-websocket, python3-paho-mqtt
Description: A sovereign, high-performance API development ecosystem.
 LightBase is a direct, sovereign alternative to proprietary API platforms like Postman.
