#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	@echo "Packaging pre-compiled binaries... skipping build."

override_dh_auto_install:
	make DESTDIR=$$(pwd)/debian/lightbase SKIP_BUILD=1 install
